---
title: "Câu chuyện của Bin"
layout: default
permalink: "/binstory.html"
---

<section class="featured-posts" style="margin-bottom:0px;">
    <div class="section-title">
        <h2><span>Câu chuyện của Bin</span></h2>
    </div>
    <div class="row">
		<div class="col-md-12 pr-5">
			<p class="post-top-meta author-description" style="margin-bottom:0px;">
				<span>Xin chào mọi người !</span>
				<br/>
				<span>Mình là Bin Chan - đang sống cùng chồng tại Nhật và đang trong hành trình trau dồi kiến thức để làm một người mẹ tốt trong tương lai.</span>
				<br/>
				<span>Mình rất yêu trẻ con và luôn mong ước có một cửa tiệm nhỏ chuyên phục vụ các sản phẩm sữa và thức ăn dặm từ Nhật cho các em bé Việt.</span>
				<br/>
				<span>Được đồng hành trong quá trình lớn lên của mỗi một em bé, đối với mình thực sự là một niềm hạnh phúc.</span>
				<br/>
				<span>Bin xin chọn một góc nhỏ ở trang blog này cùng Bin thực hiện hoá giấc mơ ấy.</span>
				<br/>
				<span>Tại Góc Nhỏ của Bin, Bin xin được chia sẻ về các thông tin bổ ích và chính xác nhất về các sản phẩm sữa Nhật và thức ăn dặm từ Nhật dành cho các bé.</span>
				<br/>
				<span>Bin mong được chia sẻ hơn với các Mẹ những lo lắng trong việc chọn mua các sản phẩm cho con, xin cùng đồng hành để tìm ra các sản phẩm chất lượng nhất cho bé yêu nhà mình.</span>
				<br/>
				<span>Góc nhỏ của Bin - Chuyên trang sữa và thức ăn dặm từ Nhật và đồ dùng chăm sóc bé từ Nhật Bản.</span>
				<br/>
				<span><strong>Với các phương châm:</strong></span>
				<br/>
				<ul class="post-top-meta author-description" style="margin-bottom:0px;">
					<li>
						<span>Chất lượng luôn đặt lên hàng đầu</span><br/>
						<span>Các sản phẩm sẽ do Bin Chan tự tay đi tới các cửa hiệu uy tín nhất ở Nhật để mua (như Akachan Honbo, Matsumoto Kyoshi...).</span><br/>
						<span>Tuyệt đối nói không với sản phẩm ở những cửa hàng không đủ uy tín, chất lượng.</span>
					</li>
					<li>
						<span>Uy tín</span><br/>
						<span>Giao hàng cho các mẹ sớm nhất có thể.</span>
					</li>
					<li>
						<span>Giá cả rõ ràng, hợp lý nhất</span><br/>
						<span>Khi giao hàng sẽ gửi kèm bill đến các mẹ (nếu cần).</span>
					</li>
				</ul>
			</p>
		</div>
    </div>
</section>

<div class="row listrecent">
	{% for category in site.categories %}
	{% if category[0] == site.binstory %}
		<div class="section-title col-md-12 mt-4">
			<h2 id="{{ category[0] | replace: " ","-" }}">Sản phẩm <span class="text-capitalize">{{ category[0] }}</span></h2>
		</div>
		{% assign pages_list = category[1] %}
			{% for post in pages_list %}
				{% if post.title != null %}
					{% if group == null or group == post.group %}
						{% include postbox.html %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% assign pages_list = nil %}
		{% assign group = nil %}
	{% endif %}
	{% endfor %}
</div>